header {
    background: $dark;
    position: relative;
    .header {

        &__top,
        &__middle {
            font-size: 13px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                color: white;
                &:hover {
                    color: $hover;
                }
            }
            &-left,
            &-right {
                display: flex;
                align-items: center;
            }
        }
        &__top {
            background-color: #rgba(0, 0, 0, 0.2);
            &-menu {
                display: flex;
                li {
                    position: relative;
                    border-bottom: 2px solid transparent;
                    display: flex;
                    align-items: center;
                    &:hover {
                        border-bottom: 2px solid $accent;
                        background-color: #000;
                    }
                    &:hover .header__top-submenu {
                        display: block;
                    }
                    a {
                        padding: 12px 13px;
                        display: block;
                        text-align: center;
                    }
                }
            }
            &-submenu {
                position: absolute;
                top: 47px;
                left: 0;
                background-color: #F9F9F9;
                width: 224px;
                z-index: 3;
                display: none;
                li {
                    &:hover {
                        border-bottom: none;
                        background-color: rgba(0, 0, 0, 0.1);
                        a {
                            color: #000;
                        }
                    }
                    a {
                        color: #000;
                        font-size: 14px;
                    }
                }
            }
            &-lang {
                margin-right: 60px;
                span {
                    margin: 0 12px;
                }
            }
            &-login {
                margin-right: 20px;
            }
            &-social {
                font-size: 23px;
                a {
                    margin: 0 8px;
                }
            }
        }
        &__middle {
            font-size: 16px;
            padding: 17px;
            &-funcset,
            &-right {
                display: flex;
                align-items: center;
            }
            &-right,
            &-left {
                flex: 1
            }
            &-right {
                justify-content: flex-end;
            }
            &-funcset {
                flex: 2;
                justify-content: space-between;
                i {
                    padding-right: 15px;
                }
            }
            &-logo {
                padding-left: 10px;
                flex: 1;
                img {
                    max-width: 200px;
                    margin-right: 20px;
                }
            }
            &-tell {
                margin-right: 50px;
                a {
                    display: block;
                    padding-left: 30px;
                    position: relative;
                    p {
                        margin: 0;
                        font-size: 13px;
                    }
                    i {
                        position: absolute;
                        top: 3px;
                        font-size: 23px;
                        left: 0;
                    }
                }
            }
            &-address {
                margin-right: 50px;
                i {
                    padding-left: 10px;
                }
            }
            &-cart {
                margin-right: 10px;
                i {
                    padding-right: 20px;
                    font-size: 24px;
                }
            }
            &-mobile {
                display: none;
                a {
                    font-size: 20px;
                }
            }
        }
        &__bottom {
            background-color: #fff;

            &-menu {
                display: flex;
                justify-content: space-around;
                align-items: stretch;
                box-shadow: 0px 0px 6px -1px #000;
                position: relative;
                z-index: 2;
                li {
                    position: relative;
                    max-width: 155px;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                    font-size: 13px;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        color: black;
                        &:hover {
                            color: red;
                            
                        }
                    }
                }
            }
            &-submenu {
                position: absolute;
                top: 41px;
                left: -20px;
                background-color: #F9F9F9;
                width: 300px;
                z-index: 2;
            //   display: none;

                li {
                    max-width: 100%;
                    text-align: left;
                    position: relative;
                    &:hover {
                        border-bottom: none;
                        background-color: rgba(0, 0, 0, 0.1);
                        a {
                            color: #000;
                        }
                    }
                    a {
                        color: #000;
                        font-size: 14px;
                        padding: 14px 0px 14px 18px;
                        text-transform: none;
                        font-size: 16px;
                        font-weight: 500;
                        display: inline-block;
                        width: 100%;
                        position: relative;
                    }
                    i.fa{
                     right:10px;
                     position: absolute;
                     top:19px;
                    }
                }
            }
            &-subsubmenu{
                position: absolute;
                top: 0;
                left: 300px;
                background-color: #fff;
                width: 300px;
                z-index: 2;
                li{
                    a{
                     padding:0;
                     position: relative;
                    }
                    i{
                     display: inline-block;
                     vertical-align: middle;
                     width:30%;
                     
                     padding-bottom: 30%;
                     background-size: cover;
                     background-position: center center;
                    }
                    p{
                        display: inline-block;
                        vertical-align: middle;
                        width:68%;
                        padding-left: 24px;
                    }
                    span{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.1);
                        top:0;
                        left:0;
                        display: none;
                    }
                    &:hover{
                        background-color:#fff;
                       
                            span{
                             display: block;   
                            }
             
                    }
                }
                
            }
        }
        &__modal.show {
            display: block;
        }
        &__modal {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 4;
            display: none;


            &-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                z-index: -1;
            }
            &-menu {
                background: #F9F9F9;
                max-width: 360px;
                width: 100%;
            }
            &-menu-items {
                li {
                    a {
                        padding: 11px 24px;
                        display: inline-block;
                        color: #212121;
                        width: 100%;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }

            &-menu-social_lang {
                li {
                    padding: 11px 0 11px 24px;

                    span {
                        display: inline-block;
                        width: 67%;
                    }
                    a {
                        display: inline-block;
                        width: 15%;
                        text-align: center;
                        color: #757575;
                        i {
                            font-size: 23px;
                        }
                        &:hover {
                            color: #212121;
                            font-weight: 600;
                        }
                    }
                }
            }
            &-menu-func {
                li {
                    a {
                        text-align: center;
                        padding: 11px 0;
                        display: block;
                        background-color: #e5e5e5;
                        color: #212121;
                        font-weight: 600;
                        font-size: 16px;
                        border-bottom: 1px solid #f9f9f9;
                        &:hover {
                            background-color: #FFF200;
                        }
                    }
                }
            }
        }
    }
    // .header__bottom-menu.owl-carousel {
    //     padding: 5px;
    // }
    .owl-carousel .owl-stage-outer{
        // overflow: visible;
       
    }
    .owl-dots {
        text-align: center;
        height: 20px;
    }
    .owl-dot {
        display: inline-block;
        text-align: center;
        margin: 0 9px;
        span {
            height: 8px;
            width: 8px;
            background-color: #9E9E9E;
            display: block;
            border-radius: 50%;
        }
    }
    .owl-dot.active {
        span {
            background-color: #212121;
        }
    }
    .owl-stage {
        display: flex;
        align-items: center;
    }
}


@media only screen and (max-width: 1600px) {

    header .header__top-menu li {
        max-width: 100px;
    }
    header .header__top-lang {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1280px) {
    header .header__top,
    header .header__middle-tell a p,
    header .header__middle-address,
    header .header__middle-cart span,
    header .header__middle-funcset-catalog,
    header .header__middle-funcset-match {
        display: none;
    }
    header .header__middle-mobile {
        display: block;
    }
    header .header__middle {
        padding: 5px 17px;
    }
    header .header__middle-logo img {
        max-width: 124px;
        margin: 0 20px;
    }
    header .header__bottom-menu li {
        line-height: 13px;
    }
}




/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    header .header__middle-tell a span,
    header .header__middle-funcset a span {
        display: none;
    }
    header .header__middle-tell a i {
        position: static;
        display: block;
    }
    header .header__middle .header__middle-funcset a {
        min-width: auto;
    }
    .header .header__middle-tell,
    header .header__middle-cart,
    .header .header__middle-tell a,
    header .header__middle-cart a {
        margin: 0;
        padding: 0;
        display: block;
    }

    header .header__middle-tell a i,
    header .header__middle-cart a i {
        font-size: 18px;
        padding: 0;
    }
    header .header__middle-right {
        flex: 1;
    }
    header .header__middle-left {
        flex: 7;
    }
    header .header__middle-funcset {
        justify-content: flex-end;
    }
    header .header__middle-funcset i {
        font-size: 16px;
    }

    header .header__middle-right {
        justify-content: space-around;
        max-width: 100px;
        min-width: 80px;
    }
}




/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    header .header__bottom-menu li {
        font-size: 11px;
    }
}




/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    header .header__middle-left .header__middle-logo {
        order: 2;
        position: absolute;
        left: 50%;
        top: 2px;
        transform: translate(-50%, 0);
    }
    header .header__middle-left .header__middle-funcset {
        order: 1
    }
    header .header__middle-left,
    header .header__middle-right {
        flex: 1;
    }
    header .header__middle-funcset {
        justify-content: flex-start;
        padding-left: 20px;
    }
    header .header__middle-right {
        justify-content: flex-end;
    }

    header .header__middle-tell a i,
    header .header__middle-cart a i {
        margin: 0 4px;
    }
}




/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    /* --- */
}