@import "fonts";
@import "libs";
@import "vars";

* {
	box-sizing: border-box;
	&:before, &:after {
		box-sizing: border-box;
	}
}
*::-webkit-input-placeholder {
	color: #9b9b9b;
	opacity: 1;
}
*:-moz-placeholder {
	color: #9b9b9b;
	opacity: 1;
}
*::-moz-placeholder {
	color: #9b9b9b;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #9b9b9b;
	opacity: 1;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
html {
	box-sizing: border-box;
	margin: 0;
	// overflow-x: hidden;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
	background-color: transparent;
}
a{
text-decoration: none;
}
ul, li{
	list-style: none;
}
ul{
	padding:0;
	margin:0;
}


.img-responsive{
	display: block; 
	max-width: 100%;
	height: auto;

}
	


/* start import header */
@import '_layout/header';
/* start import footer */
@import '_layout/footer';
/* start import sections */
@import '_pages/_sections/section';
/* start import sections */
@import '_pages/page';

@import 'modal';

/* start import button */
@import 'button';
